[submodule "External/vcpkg"]
	path = External/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "External/frozen"]
	path = External/frozen
	url = https://github.com/Arthapz/frozen.git
